3rd_Year/ITA/Assignment2/bookstore.dtd

<!ELEMENT bookstore (book+)>
<!ELEMENT book (title,author,year,price) >
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book category (CHILDREN|WEB|COOKING) "GENERAL">
<!ATTLIST book id ID #IMPLIED >
<!ATTLIST title lang (hi|en|sa|gu|ma) "en">
